<ui-nav-menu data-controller="navigation-menu">
  <a href="/home" data-action="navigation-menu#navigate" rel="home">Home page</a>
  <a href="/secondary_page" data-action="navigation-menu#navigate">Secondary page</a>
  <a href="/redirect_page" data-action="navigation-menu#navigate">Redirect page</a>
</ui-nav-menu>
